<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1> QLINK </h1>
		</div>
		<div class="col-xs-12">
			<div class="row">

			  {{#each user}}

				<div class="col-xs-12 userCard">
					<div class="row">
						<div class="col-xs-4">
							<img src="{{this.user_photo}}">
						</div>
						<div class="col-xs-8">
							<p>User ID: {{this.user_id}}</p>
							<p>Date Added: {{this.createdAt}}</p>
							<p>Name: {{this.first_name}} {{this.last_name}}</p>
							<p>Email: {{this.email}}</p>
							<p>City: {{this.city}}</p>
							<p>Bio: {{this.bio}}</p>
							<p>Organization: {{this.organization}}</p>
							<p>Role: {{this.role}}</p>
							<p>LinkedIn: {{this.linkedin}}</p>
							<p>Twitter: {{this.twitter}}</p>
							<p>Website: {{this.other_website}}</p>
						</div>
					</div>	
				</div>

			  {{/each}}

			</div>
		</div>
	</div>
</div>

{{!-- <div class="container">
	<div class="row">
		<div class="col-xs-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div> --}}