{{!-- NavBar --}}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <i class="fa fa-bars fa-bars-style fa-lg" href="main.html" aria-hidden="true"></i>
        </span>
    </button>
    
    <button class="button-clear">
        <span>
            <a href="/share"> 
                <i class="fa fa-plus fa-plus-style fa-lg" aria-hidden="true"></i>
            </a>
        </span>
    </button>
    
    {{!-- Hamburger Menu --}}
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/profile"><h4>Profile</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/connections"><h4>Connections</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" id="sign-out-button"><h4>Sign Out</h4></a>
            </li>
        </ul>
    </div>
</nav>


<div id="container-wrap">
    <div id="bg"></div>
    <div class="container text-center">
        <img class="img-circle" src="./images/placeholder.png">
        <div class="card-profile">
        <h4>{{results.first_name}} {{results.last_name}}  <a href="/profile/edit">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </a></h4>
      
        
        <div class="city">
            <h5><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{results.city}}</h5>
        </div>
        
        <div id="wrapper">
            <h5 style="float: left; margin-top: 8px; margin-right: 10px;">NOT LOOKING</h5>
            <div style="float: left;">  
                <label class="switch">
                    {{#if results.hire_me}}
                        <input type="checkbox" checked>     
                    {{else}}
                        <input type="checkbox">
                    {{/if}}
                    <span class="slider round"></span>
                </label>
            </div>
            <h5 style="float: left; margin-top: 8px; margin-left: 10px;">HIRE ME</h5>
        </div>
<br>
        <h6>{{results.organization}},</h6>
        <h6>{{results.role}}</h6>

        <div id="bio">
            <p style="line-height: 2em;">
                {{results.bio}}
            </p>
        </div>
        

<button class="social-media">
    <span>
        <a href="{{results.linkedin}}"> 
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="margin-right: 20px;"></i>
        </a>
    </span>
</button>

<button class="social-media">
    <span>
        <a href="{{results.twitter}}"> 
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </a>
    </span>
</button>

</div>

    </div>
</div>